<h1>
	Welcome! IFrameYou!
</h1>

<p>
	Description
</p>

<form>
	<label>Email</label>
	<label>Password</label>
	<button>Submit</button>	<button>Sign Up</button>
	<!-- lightbox for sign up form -->
</form>


