.black-bg {
	background: rgba(0, 0, 0, .7);
}

.pink-bg {
	background: gba(247, 139, 209, .7);
}

.purple-bg {
	background: rgba(129, 70, 189, .7);
}

.white-bg {
	background: rgba(255, 255, 255, .7);
}

.blue-bg {
	background: rgba(20, 42, 166, .7);
}