// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'frame_style';
@import 'skin';
@import 'background';
@import 'tooltip';
// home page
// background image
#bg {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
}
// sign up and login links
#refs {
	text-align: center;
	position: relative;
	top: 250px;
	width: 100%;
}

.label {
	label {
	color:rgba(0, 0, 0, .6)
	}
}

.title {
	input {
	width:100px; 
	height:30px; 
	font-size:16px; 
	background:rgb(0, 0, 0);
	color: white; 
	}
}

.click {
	// text-align: center;


	a {
		border-radius: 9px;
		box-shadow: 0px 1px 3px #666666;
		background: black;

		&:active {
			position: relative;
			top: 1px;
			left: 1px;
			box-shadow: none;
		}
	}
}
// sign up link
.leftclick {
	float: left;
}
// login link
.rightclick {
	float: right;
}
// header
h1 {
	text-align: center;
}

#flash {
	text-align: center;
	background: rgba(0, 0, 0, .8);
	border: 3px solid black;
	font-size: 23px;
	color: white;
}


 // general styling for menu image (three bars)
.menu {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	text-align: center;
	height: 30px;


}
// general styling for menu image in opened menubox
.menubox {
	position: absolute;
	top: 4px;
	right: 9px;
}

// styling for image in particular
#image {
	width: 20px;
	margin-top: 4px;
}

// .options {
// 	opacity: 1;
// }

// menubox itself
.settings {
	width: 250px;
	position: absolute;
	top: 1px;
	right: 1px;
	color: black;
	padding-left: 7px;
	font-size: 20px;
}

.category-box {
	background: rgba(255, 255, 255, .7);
	padding-left: 5px;
	margin: 5px;
}

#menu-logout {

	text-decoration: none;
	color: black;

	&:hover {
		border: 1px solid black;
		background: black;
		color: white;
	}
}

// icons in menubox
.icon {
	width: 20px;
	border: 2px s black;
	box-shadow: 0px 1px 3px #666666;


	&:active {
		position: relative;
		top: 1px;
		left: 1px;
		box-shadow: none;
	}
}

// submit button
#submit {
	text-align: center;
}

// #menubutton {
// 	margin: auto;
// 	width: 75px;
// }
